/* reset */
*{
	padding: 0;
	margin: 0;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* re-define */
html, body{
	min-width: 1024px;
	width: 100%;
	background-color: rgb(20, 20, 20);
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
li{
	margin: 0 2em;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Raleway", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-weight: 700;
}
hr{
	margin: 0.5em -0.5em 0.5em -0.5em;
	border-top: none;
	border-bottom: dashed 1px rgb(230, 120, 120);
}
img{
	max-width: 100%;
	max-height: 400px;
}
a img{
	border-style: none;
}
.min-br{
	display: none;
}
.sub{
	width: 95%;
	margin: auto 1% 1.5em 4%;
	padding: 0;
}
.border-left{
	padding: 0 0 0 20px;
	border-left: solid 3px rgb(230, 120, 120);
}
.center{
	width: 1024px;
	margin: 0 auto;
}
.interface{
	width: 500px;
	margin: 5em auto 3em auto;
	padding: 3em 3em 1em 3em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
}
.bigger{
	font-size: 25pt;
}
.attention{
	color: rgb(230, 158, 0);
}
.disabled{
	color: rgb(150, 150, 150);
}
.clear{
	clear: both;
}

/* header */
header{
	width: 100%;
	background-color: rgb(40, 20, 20);
	border-bottom: 3px solid rgb(40, 20, 20);
	box-shadow: 0px 0px 70px rgba(255, 0, 0, 0.3);
}
header nav{
	position: relative;
	height: 100px;
}
header nav img#logo{
	float: left;
}
header nav img#logo,
header nav ul#menu li{
	transition: 0.2s linear;
	border-bottom: solid 3px rgb(40, 20, 20);
}
header nav img#logo:hover,
header nav ul#menu li:hover{
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
header nav div#pull{
	text-transform: uppercase;
	display: none;
}
header nav ul#menu{
	position: absolute;
	right: 0;
	width: 674px;
	margin: 0;
	padding: 0 0 0 1px;
	list-style: none;
	display: block;
	overflow: hidden;
}
header nav ul#menu li{
	width: 24%;
	height: 100px;
	margin: 0 0 0 -1px;
	float: left;
	text-align: center;
	font-size: 12pt;
	border-right: dashed 1px rgba(230,230,230,0.1);
	border-left: dashed 1px rgba(230,230,230,0.1);
	display: table;
}
header nav img#logo:hover{
	border-bottom-color: rgb(230, 120, 120);
}
header nav ul#menu li:hover,
header nav ul#menu li#here{
	/* for IE8, 7, 6 and CSS2 */
	border-bottom-color: rgb(230, 120, 120);
}
header nav ul#menu li:nth-of-type(1):hover,
header nav ul#menu li:nth-of-type(1)#here{
	border-bottom-color: rgb(230, 200, 120);
}
header nav ul#menu li:nth-of-type(2):hover,
header nav ul#menu li:nth-of-type(2)#here{
	border-bottom-color: rgb(120, 230, 90);
}
header nav ul#menu li:nth-of-type(3):hover,
header nav ul#menu li:nth-of-type(3)#here{
	border-bottom-color: rgb(70, 200, 230);
}
header nav ul#menu li:nth-of-type(4):hover,
header nav ul#menu li:nth-of-type(4)#here{
	border-bottom-color: rgb(180, 100, 230);
}
header nav ul#menu li:hover{
	background-color: rgba(0,0,0,0.05);
}
header nav ul#menu li.disabled{
	color: rgb(200, 200, 200);
}
header nav ul#menu li.disabled:hover{
	background-color: rgba(0, 0, 0, 0);
	border-bottom-style: none;
}
header nav ul#menu li a{
	width: 100%;
	height: 75%;
	vertical-align: middle;
	color: rgb(150, 150, 150);
	text-decoration: none;
	transition: 0.2s linear;
	display: table-cell;
}
header nav ul#menu li#here a{
	color: rgb(255,255,255);
	font-weight: 700;
	background-repeat: no-repeat;
	background-position: center bottom;
}
header nav ul#menu li:hover a{
	color: rgb(255, 255, 255);
}
div#session{
	height: 45px;
	margin: 4em 0 0 0;
}
div#session div{
	height: 45px;
	color: rgb(100, 100, 100);
	text-align: center;
	line-height: 45px;
	background-color: rgba(255, 255, 255, 0.1);
}
div#session div a,
div#session div strong{
	color: rgb(255, 255, 255);
}

/* content */
div#container{
	color: rgb(230, 230, 220);
	padding: 30px 0 0 0;
}
div#container h1,
div#container h2,
div#container h3,
div#container h4,
div#container h5,
div#container h6{
	margin: 10px 0 10px 0;
}
div#container h1{
	margin: 10px 0 1em 0;
}
div#container p.warning{
	color: rgb(180, 50, 50);
	font-weight: 700;
	border-left: 4px solid rgb(230, 120, 120);
	background-color: rgb(230, 210, 210);
	margin: 1em 0 1em 0;
	padding: 0.5em 0 0.5em 1.2em;
}
div#container table#votelist{
	width: 100%;
	border-spacing: 0;
	margin: 2em 0 2em 0;
	box-shadow: 0 2px 30px rgba(0, 0, 255, 0.2);
}
div#container table#votelist th,
div#container table#votelist td{
	border-style: none;
	border-collapse: collapse;
}
div#container table#votelist th{
	height: 2.5em;
	background-color: rgb(80, 40, 40);
}
div#container table#votelist th.symbol{
	width: 50px;
}
div#container table#votelist th.number{
	width: 50px;
}
div#container table#votelist th.title{
	min-width: 450px;
}
div#container table#votelist th.vote{
	width: 100px;
}
div#container table#votelist td > a{
	color: rgb(200, 10, 10);
}
div#container table#votelist tr td{
	text-align: center;
	min-height: 4em;
	padding: 1em 0 1em 0;
	background-color: rgba(255, 255, 255, 0.1);
}
div#container table#votelist tr:nth-child(even) td{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
}
div#container table#votelist tr:nth-child(odd) td{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.13);
}
div#container table#votelist tr.active:nth-child(even) td{
	background-color: rgba(130, 255, 130, 0.07);
}
div#container table#votelist tr.active:nth-child(odd) td{
	background-color: rgba(130, 255, 130, 0.1);
}
div#container div#votelist{
	width: 100%;
	margin: 2em 0 2em 0;
	box-shadow: 0 2px 30px rgba(0, 0, 255, 0.2);
	display: table;
}
div#container div#votelist > div > div.symbol{
	width: 50px;
}
div#container div#votelist > div > div.number{
	width: 50px;
}
div#container div#votelist > div > div.title{
	width: 450px;
}
div#container div#votelist > div > div.author{
	width: 374px;
}
div#container div#votelist > div > div.name,
div#container div#votelist > div > div.school{
	width: 187px;
}
div#container div#votelist > div > div.vote{
	width: 100px;
}
div#container div#votelist > div > div.vote > a{
	color: rgb(200, 10, 10);
}
div#container div#votelist > div > div{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	min-height: 4em;
	padding: 1em 0 1em 0;
	background-color: rgba(255, 255, 255, 0.1);
}
div#container div#votelist > div.head > div{
	height: 2.5em;
	background-color: rgb(80, 40, 40);
}
div#container div#votelist > div:nth-child(even){
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
}
div#container div#votelist > div:nth-child(odd){
	text-align: center;
	background-color: rgba(255, 255, 255, 0.13);
}
div#container div#votelist > div.active:nth-child(even) > div{
	background-color: rgba(130, 255, 130, 0.07);
}
div#container div#votelist > div.active:nth-child(odd) > div{
	background-color: rgba(130, 255, 130, 0.1);
}
div#container div.interface div.container{
	margin: 2em 0 2em 0;
}
div#container div.interface a.btn{
	width: 90%;
	height: 45px;
	margin: 0.5em 5% 0.5em 5%;
	text-decoration: none;
	color: rgb(255, 255, 255);
	line-height: 45px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}
div#container div.interface a.confirm{
	background-color: rgb(170, 60, 60);
}
div#container div.interface a.cancel{
	background-color: rgb(130, 130, 130);
}
div#container form.interface p{
	width: 98%;
	margin: auto 1% 1em 1%;
}
div#container form.interface input{
	width: 98%;
	height: 40px;
	font-size: 18pt;
	margin: auto 1% 1em 1%;
}
div#container form.interface span{
	text-align: left;
	display: block;
}
/* footer */
footer{
	text-align: center;
	margin: 30px 0 0 0;
	height: 128px;
}
footer p{
	font-size: 9pt;
}

@media only screen and (min-width : 0px ) and (max-width : 480px){
		html, body{
			min-width: 100%;
			width: 100%;
		}
		.center{
			width: 100%;
		}
		.min-br{
			display: inline;
		}
		.interface{
			width: 100%;
			padding: 3em 0 3em 0;
		}
		header{
			height: auto;
			border-style: none;
			box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.1);
		}
		header nav{
			height: auto;
		}
		header nav img#logo{
			width: 100%;
			margin: 0;
			border-bottom: none;
			transition-property: none;
			float: none;
		}
		header nav img#logo:hover{
			border-bottom-style: none;
		}
		header nav div#pull{
			background-color: rgb(50, 50, 50);
			width: 95%;
			height: 40px;
			margin: 0;
			padding: 0.2em 5% 0.2em 0;
			color: rgb(255, 255, 255);
			text-align: right;
			display: block;
		}
		header nav ul#menu{
			position: static;
			width: 100%;
			padding: 0;
			overflow: visible;
		}
		header nav ul#menu li{
			width: 100%;
			height: 50px;
			border-style: none;
			transition-property: none;
			display: table;
		}
		header nav ul#menu li:hover{
			border-style: none;
		}
		header nav ul#menu li a{
			display: table-cell;
			width: 100%;
		}
		header nav ul#menu li a br {
			display: none;
		}
		header nav ul#menu li#here a{
			background: none;
		}
		div#container table#votelist{
			width: 100%;
		}
		div#container table#votelist tr th.symbol,
		div#container table#votelist tr td:first-child{
			display: none;
		}
		div#container table#votelist tr th.title{
			min-width: 0;
			width: 90px;
		}
		div#container table#votelist tr th.vote{
			width: auto;
		}
		div#container table#votelist tr td{
			width: 100%;
			display: block;
		}
		div#container div#votelist > div.head{
			display: none;
		}
		div#container div#votelist > div{
			margin: 1em 0 1em 0;
		}
		div#container div#votelist > div > div.number,
		div#container div#votelist > div > div.title,
		div#container div#votelist > div > div.name,
		div#container div#votelist > div > div.school,
		div#container div#votelist > div > div.vote{
			height: 10px;
		}
		div#container div#votelist,
		div#container div#votelist > div > div.number,
		div#container div#votelist > div > div.title,
		div#container div#votelist > div > div.vote{
			width: 100%;
			display: block;
		}
		div#container div#votelist > div > div.symbol{
			display: none;
		}
}
@media only screen and (min-width : 451px) and (max-width : 480px){
		header nav a{
			text-align: center;
			display: block;
		}
		header nav a img#logo{
			width: auto;
			height: 40px;
			margin: 0 auto;
		}
		header nav div#pull{
		}
		header nav ul#menu{
			display: block;
		}
		header nav ul#menu li{
			width: 100%;
			font-size: 10pt;
			display: table;
		}
		header nav ul#menu li a{
			vertical-align: middle;
			line-height: 1.5em;
			display: table-cell;
		}
		div#container table#votelist tr th.symbol,
		div#container table#votelist tr td:first-child{
			display: table-cell;
		}
		div#container table#votelist tr th.title{
			min-width: 150px;
		}
}
